.nav-menu {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;

  &__burger {
    height: 4px;
    width: 80%;
    transform: scale(1);
    background-color: black;
  }
  @include tablet-average {
    display: flex;
  }

}

.nav-menu::before, .nav-menu::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: black;
    transition: all 0.3s ease 0s;
}

.nav-menu::before {
  top: 0;
}

.nav-menu::after {
  bottom: 0;
}

.nav-menu.active .nav-menu__burger {
  transform: scale(0);
}

.nav-menu.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
  background-color: #FFFFFF;
}

.nav-menu.active::after {
  top: 40%;
  transform: rotate(45deg) translate(0, 60%);
  background-color: #FFFFFF;
}

.open {
  display: flex !important;
  justify-content: center;
}
