.header {
  padding-top: 54px;
  padding-bottom: 54px;
  &__inner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 60px;
  }


  &__item a {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #363853;

    &:hover {
      color: #FF6838;
      transition: 0.3s ;
    }
  }
}
