.header {
  padding-top: 54px;
  padding-bottom: 54px;

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  &__info {
      display: flex;
      gap: 60px;
      margin-left: 60px;

    @include tablet-average {
      display: none;
    }
  }

}
