.header {
  padding-top: 54px;
  padding-bottom: 54px;
  position: fixed;
  height: var(--header-height);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #EEEEEE;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);

  @include tablet {
    padding-top: 44px;
    padding-bottom: 44px;
    height: 120px;
  }

  @include small-tablet {
    padding-top: 34px;
    padding-bottom: 34px;
    height: 90px;
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  &__info {
      display: flex;
      gap: 60px;
      margin-left: 60px;

    @include tablet-average {
      display: none;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--navy-blue);
  }

}
