.quick-search {
  position: relative;

  &__tooltip {
    position: absolute;
    top: -12px;
    right: 0;
    background-color: gainsboro;
    padding: 10px 40px 10px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &:not(.is-active) {
      display: none;
    }
  }

  &__input {
    padding: 8px 17px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
    background-color: var(--light-color);
  }

  //display: block;
  //padding: 24px 43px;
  //width: 100%;
  //font-weight: 400;
  //font-size: 18px;
  //line-height: 1.66;
  //opacity: 0.9;
  //border-radius: 70px;
  //border: none;
  //outline: none;
  //
  //

  &__close-button {
    position: absolute;
    top: 20px;
    right: 13px;
    font-weight: 700;
    color: var(--navy-blue);
  }

  &__result-list {
    padding-left: 10px;
    padding-right: 5px;
    list-style: none;

    li {
      margin-bottom: 5px;
      max-width: 256px;
    }
    a {
      color: var(--navy-blue);
    }
    &:empty {
      display: none;
    }

  }
}
