<section class="category" id="category">
  <div class="container">
    <div class="category__inner">
      <h2 class="category__title">
        Our Popular <span class="text-color">Category</span>
      </h2>
      <div class="category__tab">
        <a class="items-tab">
          <img class="items-tab__img" src="../img/svg/tab-1.svg" alt="">
          <h1 class="items-tab__title">Burger</h1>
        </a>
        <a class="items-tab">
          <img class="items-tab__img" src="../img/svg/tab-2.svg" alt="">
          <h1 class="items-tab__title">tPizza</h1>
        </a>
        <a class="items-tab">
          <img class="items-tab__img" src="../img/svg/tab-3.svg" alt="">
          <h1 class="items-tab__title">sandwich</h1>
        </a>
        <a class="items-tab">
          <img class="items-tab__img" src="../img/svg/tab-4.svg" alt="">
          <h1 class="items-tab__title">Asian Food</h1>
        </a>
        <a class="items-tab">
          <img class="items-tab__img" src="../img/svg/tab-5.svg" alt="">
          <h1 class="items-tab__title">Set Menu</h1>
        </a>
      </div>
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper my-swiper">
            <div class="swiper-slide">
              <div class="item-food">
                <img src="../img/category/burger-1.png" alt="" class="item-food__image">
                <div class="item-food__stars">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                </div>
                <p class="item-food__title">Cheeseburger With Salad</p>
                <span class="item-food__price">$18.00</span>
                <button class="btn-reset btn">Add to Cart</button>
              </div>
            </div >
            <div class="swiper-slide">
              <div class="item-food">
                <img src="../img/category/burger-2.png" alt="" class="item-food__image">
                <div class="item-food__stars">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                </div>
                <p class="item-food__title">Beef Burger</p>
                <span class="item-food__price">$15.00</span>
                <button class="btn-reset btn">Add to Cart</button>
              </div>

            </div>
            <div class="swiper-slide">
              <div class="item-food">
                <img src="../img/category/burger-3.png" alt="" class="item-food__image">
                <div class="item-food__stars">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                </div>
                <p class="item-food__title">Royel Cheeseburger</p>
                <span class="item-food__price">$16.00</span>
                <button class="btn-reset btn">Add to Cart</button>
              </div>

            </div>
            <div class="swiper-slide">
              <div class="item-food">
                <img src="../img/category/burger-4.png" alt="" class="item-food__image">
                <div class="item-food__stars">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                </div>
                <p class="item-food__title">Cheeseburger With Salad</p>
                <span class="item-food__price">$18.00</span>
                <button class="btn-reset btn">Add to Cart</button>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="item-food">
                <img src="../img/category/burger-5.png" alt="" class="item-food__image">
                <div class="item-food__stars">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                  <img src="../img/svg/star.svg" alt="" class="item-food__star">
                </div>
                <p class="item-food__title">Chicken Burger</p>
                <span class="item-food__price">$15.00</span>
                <button class="btn-reset btn">Add to Cart</button>
              </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-navigator">
          <div class="swiper-slide-button-prev">
            <img src="../img/svg/arrow-left.svg" alt="">
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-slide-button-next">
            <img src="../img/svg/arrow-right.svg" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
