<section class="delivery">
  <div class="container">
    <div class="delivery__inner">
      <div class="delivery__image">
        <img src="../img/delivery/food-delivery.png" alt="">
      </div>
      <div class="delivery__info">
        <h2 class="delivery__title">
          <span class="text-color">Stay</span> At Home, We Will Provide <span class="text-color">Good food</span>
        </h2>
        <p class="delivery__descr">
          We provide tasty food and superfast delivery at your home.  Let’s use our services right now and get discounts of up to 50%.
        </p>
        <div class="delivery__conditions">
          <div class="delivery-condition">
            <img src="../img/svg/timer-icon.svg" class="delivery-condition__img" alt="">
            <p class="delivery-condition__text delivery-condition__double">fasted delivery in 30 Minutes</p>
          </div>
          <div class="delivery-condition">
            <img src="../img/svg/delivery-icon.svg" class="delivery-condition__img" alt="">
            <p class="delivery-condition__text">300+ delivery men</p>
          </div>
          <div class="delivery-condition">
            <img src="../img/svg/resturent-icon.svg" class="delivery-condition__img" alt="">
            <p class="delivery-condition__text">500+ restaurant & cafe shop</p>
          </div>
        </div>
        <button class="btn-reset btn delivery__button">See more</button>
      </div>
    </div>
  </div>
</section>
