<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__wrapper">
        <div class="footer-info">
          <div class="logo footer-info__logo">
            <img src="../img/svg/logo.svg" alt="">
          </div>
          <div class="footer-info__wrapper">
            <p class="footer-info__place">Dhaka, Bangladesh</p>
            <a href="tel:0943833399" class="footer-info__number">
              <img src="../img/svg/calling.svg" alt="">0943833399
            </a>
            <a href="mailto:support@efood.com" class="footer-info__mail">
              <img src="../img/svg/message.svg" alt="">support@efood.com</a>
            <div class="footer-info__socials">
              <div class="footer-info__social">
                <img src="../img/svg/facebook.svg" alt="">
              </div>
              <div class="footer-info__social">
                <img src="../img/svg/twitter.svg" alt="">
              </div>
              <div class="footer-info__social">
                <img src="../img/svg/instagram.svg" alt="">
              </div>
              <div class="footer-info__social">
                <img src="../img/svg/pinterset.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        <nav class="footer-nav">
          <div class="footer-nav__col">
            <h3 class="footer-nav__title footer-title">Service</h3>
            <ul class="list-reset footer-nav__list">
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">How it works</a></li>
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">Home delivery</a></li>
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">Products</a></li>
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">Menu</a></li>
            </ul>
          </div>
          <div class="footer-nav__col">
            <h3 class="footer-nav__title footer-title">Company</h3>
            <ul class="list-reset footer-nav__list">
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">About Us</a></li>
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">News</a></li>
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">Our trusted partner</a></li>
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">New users FAQ</a></li>
            </ul>
          </div>
          <div class="footer-nav__col">
            <h3 class="footer-nav__title footer-title">Supports</h3>
            <ul class="list-reset footer-nav__list">
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">Help center</a></li>
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">Feedbcak</a></li>
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">Contact us</a></li>
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">Terms conditins</a></li>
            </ul>
          </div>
          <div class="footer-nav__col">
            <h3 class="footer-nav__title footer-title">Resources</h3>
            <ul class="list-reset footer-nav__list">
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">Download app</a></li>
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">Blog</a></li>
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">What’s new</a></li>
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">Sitemap</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="footer-button">
        <p class="footer-button__created">© 2023 EFood - All rights reserved.</p>
        <div class="footer-button__rules">
          <p class="footer-button__rule">Privacy</p>
          <p class="footer-button__rule">Security</p>
          <p class="footer-button__rule">Terms</p>
        </div>
      </div>
    </div>
  </div>
</footer>

