<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="logo">
        <img src="../img/svg/logo.svg" alt="">
      </div>
      <nav class="header__nav" title="">
        <ul class="list-reset header__list">
          <li class="header__item"><a href="#" class="header__link">Home</a></li>
          <li class="header__item"><a href="#" class="header__link">Service</a></li>
          <li class="header__item"><a href="#" class="header__link">Top cities</a></li>
          <li class="header__item"><a href="#" class="header__link">Contract</a></li>
          <li class="header__item">
            <button class="btn-reset">
              <img src="../img/svg/search.svg" alt="">
            </button>
          </li>
          <li class="header__item">
            <button class="btn-reset">
              <img src="../img/svg/buy.svg" alt="">
            </button>
          </li>
        </ul>
        <button class="btn-reset btn btn-orange">Sign Up</button>
      </nav>
    </div>
  </div>
</header>
