<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="logo header__logo">
        <img src="../img/svg/logo.svg" alt="">
      </div>
      <div class="header__navigation">
        <nav class="nav" title="">
          <ul class="list-reset nav__list">
            <li class="nav__list-item"><a href="#hero" class="nav__list-link">Home</a></li>
            <li class="nav__list-item"><a href="#category" class="nav__list-link">Category</a></li>
            <li class="nav__list-item"><a href="#top-food" class="nav__list-link">Top Restaurant</a></li>
            <li class="nav__list-item"><a href="#footer" class="nav__list-link">Contract</a></li>
          </ul>
        </nav>
        <div class="header__info">
          <button class="btn-reset">
            <img src="../img/svg/search.svg" alt="">
          </button>
          <button class="btn-reset">
            <img src="../img/svg/buy.svg" alt="">
          </button>
          <button class="btn-reset btn btn-orange">Sign Up</button>
        </div>
        <div class="nav-menu">
          <div class="nav-menu__burger"></div>
        </div>
      </div>
      </div>
  </div>
</header>
