<section class="hero" id="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__info">
        <h1 class="hero__title">
          super fast <span class="text-color">Food
          delivery</span>  service
        </h1>
        <p class="hero__descr">
          We provide super fast-delivery service. Let’s use our services right now and get discounts of up to 50% <br>
          We provide super fast-delivery service. Let’s use our services right now and get discounts of up to 50%
        </p>
        <div class="hero__get">
          <button class="btn-reset btn hero__btn">
            Explore Food
          </button>
          <a href="#" class="hero__down">Download App</a>
        </div>
      </div>
      <div class="hero__image">
        <img src="../img/hero/hero.png" alt="">
      </div>
    </div>
  </div>
</section>
