<section class="our-clients">
  <div class="container">
    <h2 class="our-clients__title">
      What Our Client Are <span class="text-color">Saying</span>
    </h2>
    <div class="our-clients__inner">
      <div class="our-clients__image">
        <img src="../img/our-clients/client.png" width="433" height="528" loading="lazy" alt="clients">
      </div>
      <div class="our-clients-swiper">
        <div class="swiper" data-js-catalog-slider>
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-js-catalog-slider-slide>
              <div class="client-item">
                <p class="client-item__descr">
                  EFood has the most intriguing food order system in the country. UI in both their app and web Is very simple and easy to use, enhancing the UX. Their delivery men are also quite professional and knows the neighborhood well. Till now I never had to guide them to my address for delivery;
                </p>
                <div class="client-item__footer">
                  <div class="client-item__info">
                    <p class="client-item__name">Anglina Jole</p>
                    <div class="client-item__status">Food lover</div>
                  </div>
                  <div class="client-item__buttons">

                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-js-catalog-slider-slide>
              <div class="client-item">
                <p class="client-item__descr">
                  EFood has the most intriguing food order system in the country. UI in both their app and web Is very simple and easy to use, enhancing the UX. Their delivery men are also quite professional and knows the neighborhood well. Till now I never had to guide them to my address for delivery;
                </p>
                <div class="client-item__footer">
                  <div class="client-item__info">
                    <p class="client-item__name">Daniel Join</p>
                    <div class="client-item__status">Food lover</div>
                  </div>
                  <div class="client-item__buttons">
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-js-catalog-slider-slide>
              <div class="client-item">
                <p class="client-item__descr">
                  EFood has the most intriguing food order system in the country. UI in both their app and web Is very simple and easy to use, enhancing the UX. Their delivery men are also quite professional and knows the neighborhood well. Till now I never had to guide them to my address for delivery;
                </p>
                <div class="client-item__footer">
                  <div class="client-item__info">
                    <p class="client-item__name">Vladlen Verman</p>
                    <div class="client-item__status">Food lover</div>
                  </div>
                  <div class="client-item__buttons">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="our-clients-swiper-navigator">
            <button class="btn-reset slider-button-prev" data-js-catalog-slider-prev-button>
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27 16H5" stroke="#7B7B7B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14 7L5 16L14 25" stroke="#7B7B7B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <button class="btn-reset slider-button-next" data-js-catalog-slider-next-button>
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 16H27" stroke="#7B7B7B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 7L27 16L18 25" stroke="#7B7B7B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</section>
