<section class="our-clients">
  <div class="container">
    <h2 class="our-clients__title">
      What Our Client Are <span class="text-color">Saying</span>
    </h2>
    <div class="our-clients__inner">
      <div class="our-clients__image">
        <img src="../img/our-clients/client.png" alt="">
      </div>
      <div class="our-clients__feedback">
        <div class="client-item">
          <p class="client-item__descr">
            EFood has the most intriguing food order system in the country. UI in both their app and web Is very simple and easy to use, enhancing the UX. Their delivery men are also quite professional and knows the neighborhood well. Till now I never had to guide them to my address for delivery;
          </p>
          <div class="client-item__footer">
            <div class="client-item__info">
              <p class="client-item__name">Anglina Jole</p>
              <div class="client-item__status">Food lover</div>
            </div>
            <div class="client-item__buttons">
              <div class="client-item__button">
                <img src="../img/svg/arrow-left-1.svg" alt="">
              </div>
              <div class="client-item__button">
                <img src="../img/svg/arrow-right-1.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
