<section class="subscribe">
  <div class="container">
    <div class="subscribe__wrapper">
      <h2 class="subscribe__title">Subscribe to get the Latest Offer</h2>
      <span class="subscribe__subtitle">
        Get our daily updates by subscribing to our newspaper, please drop your email below
      </span>
      <form class="subscribe-form" action="">
        <input class="subscribe-form__input" type="text" placeholder="Enter your email addres">
        <button class="btn-reset btn subscribe-form__button">
          <img src="../img/svg/frame.svg">
          Subscribe
        </button>
      </form>

    </div>

  </div>
</section>
