<section class="top-food" id="top-food">
  <div class="container">
    <h2 class="top-food__title">Top Food <span class="text-color">Restaurant</span></h2>
    <div class="top-food__inner">
      <div class="restaurant-item">
        <img src="../img/top-food/food-1.jpg" alt="">
        <div class="restaurant-item__descr">
          <p class="restaurant-item__name">Blaze Pizza</p>
          <div class="restaurant-item__actions">
            <div class="restaurant-item__times">
              <img src="../img/svg/time.svg" class="restaurant-item__img" alt="">
              <div class="restaurant-item__time">11.00 AM - 10.00 PM</div>
            </div>
            <button class="restaurant-item__button btn-reset btn">
              <img src="../img/svg/arrow.svg" alt="">
            </button>
        </div>
        </div>
      </div>
      <div class="restaurant-item">
        <img src="../img/top-food/food-2.jpg" alt="">
        <div class="restaurant-item__descr">
          <p class="restaurant-item__name">Blaze Pizza</p>
          <div class="restaurant-item__actions">
            <div class="restaurant-item__times">
              <img src="../img/svg/time.svg" class="restaurant-item__img" alt="">
              <div class="restaurant-item__time">09.00 AM - 10.00 PM</div>
            </div>
            <button class="restaurant-item__button btn-reset btn">
              <img src="../img/svg/arrow.svg" alt="">
            </button>
          </div>
        </div>
      </div>
      <div class="restaurant-item">
        <img src="../img/top-food/food-3.jpg" alt="">
        <div class="restaurant-item__descr">
          <p class="restaurant-item__name">Blaze Pizza</p>
          <div class="restaurant-item__actions">
            <div class="restaurant-item__times">
              <img src="../img/svg/time.svg" class="restaurant-item__img" alt="">
              <div class="restaurant-item__time">10.00 AM - 12.00 PM</div>
            </div>
            <button class="restaurant-item__button btn-reset btn">
              <img src="../img/svg/arrow.svg" alt="">
            </button>
          </div>
        </div>

      </div>
      <div class="restaurant-item">
        <img src="../img/top-food/food-4.jpg" alt="">
        <div class="restaurant-item__descr">
          <p class="restaurant-item__name">Blaze Pizza</p>
          <div class="restaurant-item__actions">
            <div class="restaurant-item__times">
              <img src="../img/svg/time.svg" class="restaurant-item__img" alt="">
              <div class="restaurant-item__time">11.00 AM - 10.00 PM</div>
            </div>
            <button class="restaurant-item__button btn-reset btn">
              <img src="../img/svg/arrow.svg" alt="">
            </button>
          </div>
        </div>

      </div>
      <div class="restaurant-item">
        <img src="../img/top-food/food-5.jpg" alt="">
        <div class="restaurant-item__descr">
          <p class="restaurant-item__name">Blaze Pizza</p>
          <div class="restaurant-item__actions">
            <div class="restaurant-item__times">
              <img src="../img/svg/time.svg" class="restaurant-item__img" alt="">
              <div class="restaurant-item__time">09.00 AM - 10.00 PM</div>
            </div>
            <button class="restaurant-item__button btn-reset btn">
              <img src="../img/svg/arrow.svg" alt="">
            </button>
          </div>
        </div>

      </div>
      <div class="restaurant-item">
        <img src="../img/top-food/food-6.jpg" alt="">
        <div class="restaurant-item__descr">
          <p class="restaurant-item__name">Blaze Pizza</p>
          <div class="restaurant-item__actions">
            <div class="restaurant-item__times">
              <img src="../img/svg/time.svg" class="restaurant-item__img" alt="">
              <div class="restaurant-item__time">10.00 AM - 12.00 PM</div>
            </div>
            <button class="restaurant-item__button btn-reset btn">
              <img src="../img/svg/arrow.svg" alt="">
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
